.headers {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #212121;
    line-height: 42.19px;
}

@media screen and (min-width: 768px) {
    .headers {
        font-size: 28px;
    }
}
@media screen and (min-width: 1200px) {
    .headers {
        font-size: 36px;
    }
}
