@use "../utils/variables" as v;
.features-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: nowrap;
}
.feature-section {
    padding: 0;
}
.feature {
    line-height: 24px;
    font-size: 14px;
    max-width: 354px;
    .feature__image {
        background-color: map-get($map: v.$colors, $key: "background-grey");
        width: auto;
        padding: 25px 100px;
        margin-bottom: 30px;
    }
    .feature__header {
        font-weight: 700;
        line-height: 16.41px;
    }
    .feature__text {
        padding-top: 9px;
        color: map-get($map: v.$colors, $key: "primary");
    }
}
@media screen and (min-width: 480px) {
    .feature-section {
        padding: 60px 0;
    }
    .features-list {
        flex-direction: column;
        align-items: center;
    }
    .feature {
        max-width: 450px;
        .feature__image {
            padding: 25px 190px;
        }
        .feature__header {
            font-size: 14px;
        }
        .feature__header {
            text-align: center;
        }
    }
}
@media screen and (min-width: 768px) {
    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .feature {
        max-width: 354px;
        .feature__image {
            padding: 25px 137px;
        }
    }
}
@media screen and (min-width: 1200px) {
    .feature-section {
        padding: 94px 0;
    }
    .features-list {
        flex-wrap: nowrap;
    }
    .feature {
        .feature__image {
            padding: 25px 100px;
        }
        .feature__header {
            font-size: 16px;
        }
    }
}
