.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    .hero__title {
        margin: auto;
        color: #ffffff;
    }
    .hero__button {
        margin-top: 30px;
        padding: 6px 24px;
    }
}

@media screen and (min-width: 480px) {
    .hero {
        padding: 118px 0;
        .hero__title {
            font: 900 26px/42px Roboto;
        }
    }
}
@media screen and (min-width: 1200px) {
    .hero {
        padding: 200px 0;
        .hero__title {
            font: 900 44px/60px Roboto;
        }
    }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero2x.jpg");
    }
}
