.whatWeDo-list {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    .whatWeDo-list__item {
        position: relative;
    }
    .whatWeDo-list__text {
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 1;
        background-color: rgba(33, 33, 33, 0.8);
        font: 700 16px Roboto;
        color: white;
        text-align: center;
        padding: 27px 0;
    }
}
